@font-face {
    font-family: SatoshiReg;
    src: url(/src/assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf)
  }
  @font-face {
    font-family: SatoshiBold;
    src: url(/src/assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf);
  }
  @font-face {
    font-family: SatoshiLight;
    src: url(/src/assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Light.otf);
  }
  @font-face {
    font-family: SatoshiMed;
    src: url(/src/assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf);
  }
  @font-face {
    font-family: SatoshiBlack;
    src: url(/src/assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Black.otf);
  }

  .custom-font-header {
    font-family: SatoshiBold;
  }